<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Some greeting test</title>
</head>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <p>
    <div id="token"></div>
    <div id="msg"></div>
    <div id="notis">
    	<p/>
    	
    </div>
    <div id="err"></div>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-messaging.js"></script>
    <script>
       MsgElem = document.getElementById("msg")
       TokenElem = document.getElementById("token")
       NotisElem = document.getElementById("notis")
       ErrElem = document.getElementById("err")
       // Initialize Firebase
        // TODO: Replace with your project's customized code snippet
        var firebaseConfig = {
    		apiKey: "AIzaSyD6hPZ3ZYx3pvJZ2Z4Ezn4nx6cu96oTdUk",
    		authDomain: "testingportaikko.firebaseapp.com",
    		databaseURL: "https://testingportaikko.firebaseio.com",
    		projectId: "testingportaikko",
    		storageBucket: "testingportaikko.appspot.com",
    		messagingSenderId: "1035053093238",
    		appId: "1:1035053093238:web:ae1c355d354535836d6a57",
    		measurementId: "G-VQSJF02PC5"
    		};
       
       firebase.initializeApp(firebaseConfig);

       const messaging = firebase.messaging();
       messaging
           .requestPermission()
           .then(function () {
               MsgElem.innerHTML = "Notification permission granted." 
               console.log("Notification permission granted.");

               // get the token in the form of promise
               return messaging.getToken()
           })
           .then(function(token) {
               TokenElem.innerHTML = "token is : " + token
           })
           .catch(function (err) {
               ErrElem.innerHTML =  ErrElem.innerHTML + "; " + err
               console.log("Unable to get permission to notify.", err);
           });
       
       let enableForegroundNotification = true;
       messaging.onMessage(function(payload) {
           console.log("Message received. ", payload);
           NotisElem.innerHTML = NotisElem.innerHTML + JSON.stringify(payload);

           if(enableForegroundNotification) {
               const {title, ...options} = JSON.parse(payload.data.notification);
               navigator.serviceWorker.getRegistrations().then(registration => {
                   registration[0].showNotification(title, options);
               });
           }
       });
           
    </script>
</body>
</html>